ul {
  list-style-type: none;
  text-align: justify;
  text-justify: inter-word;
}

img {
  width: 60px;
  height: 80px;
}

.missionImg:hover {
  transform: scale(1.5);
}

.rocketImg:hover {
  transform: scale(1.5);
}

.crewImg {
  border-radius: 50%;
  padding-right: 15px;
}
.crewImg:hover {
  transform: scale(1.5);
}

.info > li {
  padding-top: 25px;
}
